.container {
  position: fixed;
  height: 100%;
  width: 100%;
  overflow: auto;
}

h1 {
  font-family: sans-serif;
  font-size: 32px;
}
.done {
  text-decoration: line-through;
}

li:hover {
  cursor: pointer;
}

ul {
  list-style: none;
  font-family: monospace;
}

.remove-item {
  background-color: rgb(255, 255, 255);
  outline: none;
  border: 1px solid gray;
  border-radius: 100%;
}

